#calc-body {
    border: 2px solid black; 
    width: 400px;
    height: 475px;
    margin: auto;
    background-color: darkgray;
    border-radius: 10px;
    padding: 5px;
}

#display {
    border: 2px solid black; 
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: white;
    border-radius: 10px;
    margin: 15px;

}

#contents {
    margin: 10px;
    font-size: 30px;
}

#clear-delete-row {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    margin: 15px;
    height: 50px;
    margin-top: 30px;
}

#clear {
    background-color: lightgreen;
}

#delete {
    background-color: lightcoral;
}

button {
    border-radius: 5px;
    border: 2px solid black;
    font-size:large;
}

.button-body {
    height: 250px;
    width: 370px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 0%;
}